<%= render "modal_delete", item: item, card: card %>
<div class="col-lg-3 col-md-6">
  <div class="item">
    <div class="thumb">
      <%= link_to book_episode_path(item.episode.book, item.episode) do %>
        <%= image_tag item.episode.thumb %>
      <% end %>
      <span class="price"><%= item.status %></span>
    </div>
    <div class="down-content">
      <span class="category"><%= item.episode.book.name %></span>
      <h4><%= item.episode.name %></h4>
      <% if item.pending? %>
        <a href="#" data-bs-toggle="modal" data-bs-target="#modalDelete-<%= item.id %>">
          <i class="fa-solid fa-trash-can"></i>
        </a>
      <% end %>
    </div>
  </div>
</div>
