<% provide :link_page do %>
  <%= t "views.borrow_cards.index.title" %>
<% end %>

<% if flash.any? %>
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1000">
    <% flash.each do |key, message| %>
      <% if key == "success" %>
        <%= render "shared/toast_success", msg: message %> 
      <% elsif key == "error" %>
        <%= render "shared/toast_error", msg: message %>     
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render "shared/client_page_heading" %>

<div id="profile">
  <div class="container">
    <%= render "shared/profile_action" %>
    <div class="row" id="cart-content">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <%= render partial: "card", collection: @cards %>
      </div>
    </div>
  </div>
</div>
