<div class="modal fade" id="advancedSearchModal" tabindex="-1" aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advancedSearchModalLabel">Advanced Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= search_form_for @q, url: admin_authors_path, method: :get, html: {class: "advanced-search-form", id: "advancedSearchForm"} do |f| %>
          <div class="mb-3">
            <%= f.label :name_cont, t("admin.authors.show.name") %>
            <%= f.text_field :name_cont, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :dob, t("admin.authors.show.dob") %>
            <div class="row">
              <div class="col-md-6">
                <%= f.date_field :dob_gteq, class: "form-control", placeholder: "From" %>
              </div>
              <div class="col-md-6">
                <%= f.date_field :dob_lteq, class: "form-control", placeholder: "To" %>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :dod, t("admin.authors.show.dod") %>
            <div class="row">
              <div class="col-md-6">
                <%= f.date_field :dod_gteq, class: "form-control", placeholder: "From" %>
              </div>
              <div class="col-md-6">
                <%= f.date_field :dod_lteq, class: "form-control", placeholder: "To" %>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <%= button_tag t("admin.form.reset"), type: :button, class: "btn btn-secondary", id: "resetButton" %>
            <%= f.submit t("admin.form.search"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
