<% provide :status, "register" %>

<% if @user.errors.any? %>
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
      <%= render partial: "shared/toast_error", collection: @user.errors.full_messages, as: :msg %>
  </div>
<% end %>

<% without_field_error_proc do %>
  <%= render "shared/user_layout" do %>
    <%= form_with model: @user, html: { class: "form-detail" }, local: true do |f| %>
      <div class="tabcontent" id="sign-up">
        <div class="form-row">
          <label class="form-row-inner">
            <%= f.text_field :name, class: "input-text", required: true %>
            <span class="label"><%= t "views.sessions.new.label_name" %></span>
            <span class="border"></span>
          </label>
        </div>
        <div class="form-row">
          <label class="form-row-inner">
            <%= f.text_field :email, class: "input-text", required: true %>
            <span class="label"><%= t "views.sessions.new.label_email" %></span>
            <span class="border"></span>
          </label>
        </div>
        <div class="form-row">
          <label class="form-row-inner">
            <%= f.text_field :phone, class: "input-text", required: true %>
            <span class="label"><%= t "views.sessions.new.label_phone" %></span>
            <span class="border"></span>
          </label>
        </div>
        <div class="form-row">
          <label class="form-row-inner">
            <%= f.text_field :address, class: "input-text", required: true %>
            <span class="label"><%= t "views.sessions.new.label_address" %></span>
            <span class="border"></span>
          </label>
        </div>
        <div class="form-row-last">
          <%= f.submit t("views.sessions.new.btn_register"), class: "register" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
