<%= render "shared/login_toast" %>

<%= render "shared/user_layout" do %>
  <%= form_with model: resource, url: password_path(resource_name), 
                html: { class: "form-detail" }, local: true do |f| %>
    <div class="tabcontent" id="reset-password">
      <div class="form-row">
        <label class="form-row-inner">
          <%= f.email_field :email, class: "input-text", id: "email", required: true %>
          <span class="label">
            <%= t "views.sessions.new.label_email" %>
          </span>
          <span class="border"></span>
        </label>
      </div>
      <div class="form-row-last">
        <%= f.submit t("views.sessions.new.btn_reset"), class: "register" %>
      </div>
    </div>
  <% end %>
<% end %>
