<div class="col-lg-6 align-self-center">
  <h4><%= @episode.name %></h4>
  <span class="price">
    <%= @episode.qty %>  
    <%= t "views.episodes.show.count_unit" %>
  </span>
  <p><%= @episode.intro %></p>

  <%= form_with url: "#", 
                data: { turbo: false },
                local: true, 
                html: { id: "qty" } do |f| %>
    <%= f.text_field :qty, class: "form-control", value: "1", disabled: true %>
    <%= f.button do %>
      <i class="fa-solid fa-bag-shopping"></i> 
      <%= t "views.episodes.show.btn_add" %>
    <% end %>
  <% end %>

  <ul>
    <li>
      <span><%= t "views.episodes.show.author" %></span>
      <% @book.authors.each do |author| %>
        <%= link_to author.name, "#" %>
        <% if author != @book.authors.last %>
          <strong>, </strong>
        <% end %>
      <% end %>
    </li>
    <li>
      <span><%= t "views.episodes.show.episodes" %></span> 
      <%= @book.episodes.count %>
    </li>
    <li>
      <span><%= t "views.episodes.show.cat" %></span>
      <% @book.categories.each do |cat| %>
        <%= link_to cat.name, "#" %>
        <% if cat != @book.categories.last %>
          <strong>, </strong>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
