<% provide :link_page do %>
  <%= @book.name %> > <%= @episode.name %>
<% end %>

<%= render "shared/client_page_heading" %>

<div class="single-product section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-image">
          <%= image_tag @episode.thumb %>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <h4><%= @episode.name %></h4>
        <span class="price">
          <%= @episode.qty %>
          <%= t "views.episodes.show.count_unit" %>
        </span>
        <p><%= @episode.intro %></p>
        <%= form_with url: add_to_cart_book_episode_path(@book, @episode),
                      local: true, html: { id: "qty" }, method: :get do |f| %>
          <%= f.text_field :qty, class:"form-control", value: "1", disabled: true %>
          <%= f.button do %>
            <i class="fa-solid fa-bag-shopping"></i>
            <%= t "views.episodes.show.btn_add" %>
          <% end %>
        <% end %>
        <% if current_user %>
          <%= turbo_frame_tag dom_id(@episode, :favorite), class: "ml-2" do %>
            <%= render partial: "favorites/favorite_button", locals: { favoritable: @episode } %>
          <% end %>
        <% end %>
        <ul>
          <li><span><%= t "views.episodes.show.author" %></span>
            <% @book.authors.each do |author| %>
              <%= link_to author.name, author_path(author) %>
              <strong>, </strong>
            <% end %>
          </li>
          <li>
            <span><%= t "views.episodes.show.episodes" %></span>
            <%= @book.episodes.count %>
          </li>
          <li><span><%= t "views.episodes.show.cat" %></span>
            <% @book.categories.each do |cat| %>
              <%= link_to cat.name, all_episodes_path(q: { categories_id_eq: cat.id }) %>
              <strong>, </strong>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="sep"></div>
      </div>
    </div>
  </div>
</div>

<div class="more-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tabs-content">
          <div class="row">
            <div class="nav-wrapper">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="description-tab"
                          data-bs-toggle="tab" data-bs-target="#description"
                          type="button" role="tab" aria-controls="description" aria-selected="true">
                          <%= t "views.episodes.show.description" %>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="reviews-tab"
                          data-bs-toggle="tab" data-bs-target="#reviews"
                          type="button" role="tab" aria-controls="reviews" aria-selected="false">
                          <%= t "views.episodes.show.reviews" %>
                  </button>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="description"
                    role="tabpanel" aria-labelledby="description-tab">
                <%= raw @episode.content %>
              </div>
              <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                <%= render "ratings/ratings_div", user_rating: @user_rating, episode: @episode %>
                <div id="ratings_list" class="list-group">
                  <h4 class="mb-3"><%= t "views.episodes.show.reviews" %></h4>
                  <%= render @ratings %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section categories related-games">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6><%= t "views.episodes.show.more" %></h6>
          <h2><%= t "views.episodes.show.related" %></h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button">
          <%= link_to all_episodes_path(q: { book_id_eq: @book.id }) do %>
            <%= t "views.episodes.show.all" %>
          <% end %>
        </div>
      </div>
      <% @book.episodes.each do |ep| %>
        <%= render "list_book", ep: ep %>
      <% end %>
    </div>
  </div>
</div>
