<div class="section cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="shop">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6><%= t "views.home.thumb_11" %></h6>
                <h2>
                  <%= t "views.home.thumb_121" %> 
                  <em><%= t "views.home.thumb_122" %></em> 
                  <%= t "views.home.thumb_123" %>
                </h2>
              </div>
              <p><%= t "views.home.thumb_13" %></p>
              <div class="main-button">
                <%= link_to all_episodes_path do %>
                  <%= t "views.home.btn_view_all" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-2 align-self-end">
        <div class="subscribe">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6><%= t "views.home.thumb_21" %></h6>
                <h2>
                  <%= t "views.home.thumb_221" %>
                  <em><%= t "views.home.thumb_222" %></em>
                </h2>
              </div>
              <div class="search-input">
                <form id="subscribe" action="#">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder= "<%= t "views.home.place" %>">
                  <button type="submit"><%= t "views.home.btn_send" %></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
