<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <a href="#">
          <div class="item">
            <div class="image">
              <%= image_tag "featured-01.png", style: "max-width: 44px;" %>
            </div>
            <h4><%= t "views.home.borrow_free" %></h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#">
          <div class="item">
            <div class="image">
              <%= image_tag "featured-02.png", style: "max-width: 44px;" %>
            </div>
            <h4><%= t "views.home.friendly" %></h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#">
          <div class="item">
            <div class="image">
              <%= image_tag "featured-03.png", style: "max-width: 44px;" %>
            </div>
            <h4><%= t "views.home.reply" %></h4>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#">
          <div class="item">
            <div class="image">
              <%= image_tag "featured-04.png", style: "max-width: 44px;" %>
            </div>
            <h4><%= t "views.home.layout" %></h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
