<%= render "modal_delete", cart: cart %>

<div class="col-lg-4 col-md-6">
  <div class="item">
    <div class="thumb">
      <%= link_to book_episode_path(cart.episode.book, cart.episode) do %>
        <%= image_tag cart.episode.thumb %>
      <% end %>
      <span class="price">1</span>
    </div>
    <div class="down-content">
      <span class="category"><%= cart.episode.book.name %></span>
      <h4><%= cart.episode.name %></h4>
      <a href="#" data-bs-toggle="modal" data-bs-target="#modalDelete-<%= cart.id %>">
        <i class="fa-regular fa-trash-can"></i>
      </a>
    </div>
  </div>
</div>
