<% provide :status, "login" %>

<%= render "shared/login_toast" %>

<%= render "shared/user_layout" do %>
  <%= form_with model: resource, url: session_path(resource_name), 
                html: { class: "form-detail" }, local: true do |f| %>
    <div class="tabcontent" id="sign-in">
      <div class="form-row">
        <label class="form-row-inner">
          <%= f.email_field :email, class: "input-text", id: "fullname", required: true %>
          <span class="label">
            <%= t "views.sessions.new.label_email" %>
          </span>
          <span class="border"></span>
        </label>
      </div>
      <div class="form-row">
        <label class="form-row-inner">
          <%= f.password_field :password, class: "input-text", id: "password", required: true %>
          <span class="label">
            <%= t "views.sessions.new.label_password" %>
          </span>
          <span class="border"></span>
        </label>
      </div>
      <div class="form-row-last">
        <%= f.submit t("views.sessions.new.btn_login"), class: "register" %>
        <%= link_to t("views.sessions.new.reset_link"), new_user_password_path, class: "mx-2 text-warning font-weight-bold" %>
      </div>
    </div>
  <% end %>
<% end %>
