<% provide :title, @user.name %>
<div class="header d-flex align-items-center justify-content-between">
  <%= render "admin/shared/breadcrumb", class: "d-flex align-items-center" %>
  <%= render "admin/shared/action_buttons", resource: @user %>
</div>
<div class="row page-container mt-3">
  <aside class="col-md-4 d-flex align-items-center justify-content-center">
    <section class="user_info">
      <div class="user-avatar">
        <%= image_tag "user.png", size: Settings.avatar.lg, class: "img-fluid rounded-circle" %>
      </div>
      <h1 class="user-name text-center"><%= @user.name %></h1>
    </section>
  </aside>
  <div class="col-md-8 user-details">
    <ul class="list-unstyled">
      <li><strong><%= t ".email" %></strong> <%= @user.email %></li>
      <li><strong><%= t ".date_of_birth" %></strong> <%= @user.dob %></li>
      <li><strong><%= t ".phone" %></strong> <%= @user.phone %></li>
      <li><strong><%= t ".role" %></strong> <%= @user.role %></li>
      <li><strong><%= t ".lost_time" %></strong> <%= @user.lost_time %></li>
      <li><strong><%= t ".blacklisted" %></strong> <%= @user.blacklisted ? t(".true") : t(".false") %> </li>
      <li><strong><%= t ".activated" %></strong> <%= @user.activated ? t(".true") : t(".false") %></li>
      <li><strong><%= t ".joined" %></strong> <%= @user.created_at.strftime("%Y-%m-%d") %></li>
    </ul>
  </div>
</div>
