<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item">
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span><%= t ".dashboard" %></span>
  <% end %>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading"><%= t(".management") %></div>

<!-- Nav Items -->
<li class="nav-item <%= "active" if active_nav_item?("users") %>">
  <%= link_to admin_users_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-users"></i>
    <span><%= t ".users" %></span>
  <% end %>
</li>

<li class="nav-item <%= "active" if request.path.include?("categories") %>">
  <%= link_to admin_categories_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-tag"></i>
    <span><%= t ".genres" %></span>
  <% end %>
</li>

<li class="nav-item <%= "active" if request.path.include?("#") %>">
  <%= link_to "#", class: "nav-link" do %>
    <i class="fas fa-fw fa-user-edit"></i>
    <span><%= t ".authors" %></span>
  <% end %>
</li>

<li class="nav-item <%= "active" if active_nav_item?("publishers") %>">
  <%= link_to admin_publishers_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-building"></i>
    <span><%= t ".publishers" %></span>
  <% end %>
</li>

<li class="nav-item <%= "active" if request.path.include?("#") %>">
  <%= link_to "#", class: "nav-link" do %>
    <i class="fas fa-fw fa-book"></i>
    <span><%= t ".books" %></span>
  <% end %>
</li>

<li class="nav-item <%= "active" if request.path.include?("#") %>">
  <%= link_to "#", class: "nav-link" do %>
    <i class="fas fa-fw fa-book-open"></i>
    <span><%= t ".episodes" %></span>
  <% end %>
</li>

<li class="nav-item<%= " active" if request.path.include?("borrow_books") %>">
  <%= link_to borrow_admin_borrow_books_path, class: "nav-link#{" collapsed" if !request.path.include?("borrow_books")}", data: { bs_toggle: "collapse", bs_target: "#collapseBorrowBooks", controls: "collapseBorrowBooks" } do %>
    <i class="fas fa-fw fa-calendar-check"></i>
    <span><%= t ".requests" %></span>
  <% end %>
  <div id="collapseBorrowBooks" class="collapse<%= " show" if request.path.include?("borrow_books") %>" aria-labelledby="headingBorrowBooks" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">

      <%= link_to t(".borrow_books.borrow"), borrow_admin_borrow_books_path, class: "collapse-item#{" active" if request.path.include?("borrow_books/borrow")}" %>
      <%= link_to t(".borrow_books.return"), return_admin_borrow_books_path, class: "collapse-item#{" active" if request.path.include?("return")}" %>
      <%= link_to t(".borrow_books.history"), history_admin_borrow_books_path, class: "collapse-item#{" active" if request.path.include?("history")}" %>
    </div>
  </div>
</li>

</li>
