<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body id="page-top">
  <div id="wrapper">
    <%= render "admin/shared/sidebar" %>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%= render "admin/shared/topbar" %>
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
      <%= render "admin/shared/footer" %>
    </div>
  </div>
</body>
</html>
