<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "https://cdn.quilljs.com/1.3.6/quill.snow.css" %>
    <%= javascript_include_tag "https://cdn.quilljs.com/1.3.6/quill.js" %>
  </head>

  <body>
    <%= render "layouts/preload" %>
    <%= render "shared/toast" %>
    <%= render "layouts/client_header" %>

    <%= yield %>

    <%= render "layouts/client_footer" %>
  </body>
</html>
